:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --navigation-color: #2196f3;
  --dark-background-color: #2f303a;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* <!--Шапка сайта-- >  */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  text-decoration: none;
  color: var(--title-text-color);
}
.navigation,
.contacts {
  display: flex;
}
.navigation-link:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.logo-color {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--navigation-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link-main {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-link-current {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--navigation-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation-link-main:hover,
.navigation-link-main:focus {
  color: var(--navigation-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--navigation-color);
}

/* <!--Hero-- >  */

.hero-section {
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.overlay-hero {
  max-width: 1600px;
  height: 600;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.3)
    ),
    url("../images/hadder_squoosh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-hero {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--accent-color);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.button-primary {
  border-bottom: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;

  color: var(--accent-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

/* <!--Features--> */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-color {
  color: var(--title-text-color);
  text-decoration: none;
}

.feautures-list {
  display: flex;
}

.feautures-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feautures-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feautures-item:not(:last-child) {
  margin-right: 30px;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;

  border-radius: 4px;
}

.features-box .iconfeat {
  fill: #212121;
}

/* <!--Activities-- > */

.activities-section {
  padding-top: 0;
}
.activities {
  display: flex;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 0.03em;
}

.image-link {
  text-decoration: none;
  color: #757575;
  margin-bottom: 0;
}

/* <!--Team-- > */

.team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  /* justify-content: space-between; */
}
.team-item-description {
  padding: 30px 0;
  text-align: center;
}
.team-item-description p {
  margin-bottom: 16px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-box {
  display: block;
  background-color: #ffffff;
  outline: none;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
}
.team-link:hover,
.team-link:focus,
.join-link:hover,
.join-link:focus {
  color: var(--accent-color);
  background-color: var(--navigation-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-sosial-link:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  fill: currentColor;
}

.team-item-list {
  display: flex;
  justify-content: center;
  /*  width: 206px;
  
  align-items: center; */
}
.team-title {
  margin: 0 0 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 0.03em;
}

.team-names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-names p {
  margin-bottom: 12px;
}

.team-possition {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* * <!--Clients-- > */

.clients-box {
  display: flex;
  justify-content: space-between;
}

.clients-box-items {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: solid 1px #afb1b8;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.clients-box-items:hover,
.clients-box-items:focus {
  border-color: var(--navigation-color);
  color: var(--navigation-color);
}
.clients-box-icon {
  fill: currentColor;
}

.clients-box-items:not(:last-child) {
  margin-right: 30px;
}

/* <!--Footer-- > */

.adress-section {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-text {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  font-style: normal;
  text-decoration: none;
}
.adress-logo {
  color: var(--accent-color);
}

.text-color {
  color: rgb(255, 255, 255, 0.6);
}
.text-color:hover,
.text-color:focus {
  color: var(--navigation-color);
}

.logo-brake {
  margin-bottom: 20px;
}

.logo-brake-borders li {
  margin: 0 0 9px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}

.join-box {
  margin-left: 70px;
  color: var(--accent-color);
}
.join-box p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-list {
  display: flex;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  color: inherit;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.join-icon {
  fill: currentColor;
}

/* * <!--Works-- > */

.element-invisible {
  display: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.button-secondary {
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-section-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-section-flex li:not(:last-child) {
  margin-right: 8px;
}

.works-description-brake {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-text {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.item {
  margin: 30px 0 0 30px;
  flex-basis: calc ((100-90px) / 3);
}
.image-link:hover,
.image-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-section-list {
  overflow: 1px solid #eeeeee;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
